.wrap {
  overflow: hidden;
}

header {
  position: fixed;
  width: 100%;
  background-color: white;
  height: 80px;
  z-index: 20;
  top: 0px;
}
.header-left {
transition: all 0.5s;
background-color: rgba(255, 255, 255, 0.3);
line-height: 60px;
}
.header-left svg {
  float: left;
  margin:20px;
  display: block;
}
.header-left a {
  padding: 8px;
  margin: auto 8px;
  font-size: 15px;
  display: block;
  float: left;
  color: #555;
  font-weight:bold;
}
.header-right {
  float: right;
  margin: auto 0;
}

.top-wrapper {


  display: flex;
  padding:100px 0 100px 0;
  background-image: linear-gradient(transparent,transparent,rgba(0,0,0,0.3),rgba(0,0,0,0.6)),url(./images/airbnb1.jpg);
  background-size: cover;

}
.top-wrapper-xl {
  margin-top: 80px;
  height: 600px;
  /* display: flex; */
  background-image: url(./images/airbnb1.jpg);
  background-size: cover;
  background-image: linear-gradient(transparent,transparent,rgba(0,0,0,0.3),rgba(0,0,0,0.6)),url(./images/airbnb1.jpg);
}

.container {
  width: 100%;
  margin:0 auto;
  /* text-align: center; */
}

/* .fil-container {
  width: 400px;
  background-color: white;
} */


.top-message {


}

.borders {
  border-top: solid 2px #767676;
  width: 70px;
  padding-bottom: 20px;
}
.check-btn {
  padding: 10px 15px;
  border: solid 2px #555;
}
.mark {
  font-size: 30px;
  background-color: white;
}

.row > h1 {
  padding-bottom: 30px;
  font-weight: bold;
}

li {
  padding: 10px 0;
}

@media screen and (max-width:1199px) {
  .container-text {
    width: 600px;
    margin: 0 auto;
  }
  .container-column {
    width: 648px;
    margin: 0 auto;
  }
  .hosting {
    margin-top: 50px;
  }


}
@media screen and (min-width:1200px) {
  .container-text {
    width: 1032px;
    margin: 100px auto;
  }
  .container-column {
    width: 1032px;
    margin: 100px auto;
  }
}

@media screen and (max-width:769px) {
  .flex {
    width: 100%;
  }
  .flex-p {
    display: none;
  }
  .fillout {
    width: 100%;
  }
  .fillout > div {
    width: 100%;
  }
  .top-message {
    font-size: 27px;

  }
  .top-wrapper {
    height: 260px;
  }

}

@media screen and (min-width:770px) {
  .fillout {
  width:696px
  }
  .fillout > div {
    width:696px;
  }
  .flex-sel {
    width:61%
  }
  .flex-sel2 {
    width: 36%;
  }
  .top-message {
    font-size: 40px;
  }
  .top-wrapper {
    height: 300px;
  }
  .row > h1 {
    margin: 0 auto;
    text-align: center;
  }
}

@media screen and (max-width:575px) {
.borders {
  text-align: left;
}


}

@media screen and (min-width:576px) {
.borders {
  margin: 0 auto;
}
}
