.wrap {
  overflow: hidden;
}

.isHidden {
  display: none;
}
header {
  position: fixed;
  width: 100%;
  background-color: white;
  height: 80px;
  z-index: 20;
  top: 0px;
}
.header-left {
transition: all 0.5s;
background-color: rgba(255, 255, 255, 0.3);
line-height: 60px;
}
.header-left svg {
  float: left;
  margin:20px;
  display: block;
}
.header-left a {
  padding: 8px;
  margin: auto 8px;
  font-size: 15px;
  display: block;
  float: left;
  color: #555;
  font-weight:bold;
}
.header-right {
  float: right;
  margin: auto 0;
}

.top-wrapper {


  /* display: flex; */
  padding:100px 0 100px 0;
  background-image: linear-gradient(transparent,transparent,rgba(0,0,0,0.3),rgba(0,0,0,0.6)),url(./images/airbnb1.jpg);
  background-size: cover;

}
.top-wrapper-xl {
  margin-top: 80px;
  height: 600px;
  /* display: flex; */
  background-image: url(./images/airbnb1.jpg);
  background-size: cover;
  background-image: linear-gradient(transparent,transparent,rgba(0,0,0,0.3),rgba(0,0,0,0.6)),url(./images/airbnb1.jpg);
}

.container {
  width: 100%;
  margin:0 auto;
  /* text-align: center; */
}

/* .fil-container {
  width: 400px;
  background-color: white;
} */


.top-message {


}

.borders {
  border-top: solid 2px #767676;
  width: 70px;
  padding-bottom: 20px;
}
.check-btn {
  padding: 10px 15px;
  border: solid 2px #555;
}
.mark {
  font-size: 80px;
  background-color: white;
  font-family: circular;
  color: #FDB32B;
  font-weight: bold;
  padding: 0;
  height: 70px;
}

.row > h1 {
  padding-bottom: 30px;
  font-weight: bold;
}

/* li {
  padding: 10px 0;
} */
.list {

  border-bottom: 1px solid #76767630;
  padding:20px;
}

.list-item {
  color: #008489;
  margin: 20px;
 }

.hosting-detail-list div{
  /* width: 600px; */
  float: left;
}

.medium-hosting div{
  float: left;
}
.medium-hosting2 div{
  float: left;
}

.bottom-wrapper {

  /* width: 100%; */
  height: 400px;
  margin-top: 100px;
  background-image:url(./images/airbnb8.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

}
.bottom-wrapper-m div{
float: left;
width: 250px;
margin:0 10px;
}
.listing-btn {
  padding: 10px 15px;
  color: black;
  background-color: white;
}

.step > h2{
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

footer {
  height: 80px;
}

.footer-left {
float: left;
width: 600px;
}
.footer-left div {
  float: left;
}

.footer-right {
  float: right;
}
.three p {
  float: left;
}
.footer-link div{
  float: initial;
}

.bottom-list div > a{
  color: rgb(118, 118, 118);
  font-weight: bold;
  font-size: 14px;
}
.bottom-list div {
  width: 100%;
}

.bottom-lists div {
  float: left;
}





@media screen and (max-width:1199px) {

  .hosting {
    margin-top: 50px;
  }
  .host-title {
    width:600px;
    margin:0 auto;
  }

}
@media screen and (min-width:1200px) {

}

@media screen and (max-width:1127px) {

.container-text {
    width: 600px;
    margin: 0 auto;
  }
  .container-column {
    width: 648px;
    margin: 0 auto;
  }

.hoster{
  font-size: 20px;
  color: #484848;
  font-weight: lighter;
}
.hoster-p{
  font-size: 13px; color: #484848ab;
}
h1 {
  font-size: 40px;
}
.bottom-wrapper > div {
  margin:0 auto;
}
.income {
  font-size: 40px;
}
/* .men-pic {
  height: 339px;
} */
.pic-2 {
  width: 339px;

}

}

@media screen and (min-width:1128px) {
  .container-text {
    width: 1032px;
    margin: 100px auto;
  }
  .container-column {
    width: 1032px;
    margin: 100px auto;
  }
.hoster{
  font-size: 30px;
  color: #484848;
  font-weight: lighter;
}
.hoster-p{
  font-size: 17px; color: #484848ab;
}
h1 {
  font-size: 55px;
}
.bottom-wrapper-m div{
float: left;
width: 350px;
margin:0 10px;
}

.bottom-wrapper-m > div{
  margin-left: 50px;
}
.income {
  font-size: 55px;
}
/* .men-pic {
  height: 531px;
} */
.pic-2 {
  width: 500px;
}
}

@media screen and (max-width:769px) {
  .container {
    width: 90%;
  }
  .container-text {
    width: 90%;
  }
  .container-column {
    width: 90%;

  }
  .flex {
    width: 100%;
  }
  .flex-p {
    display: none;
  }
  .fillout {
    width: 100%;
  }
  .fillout > div {
    width: 100%;
  }
  .top-message {
    font-size: 27px;

  }
  .top-wrapper {
    height: 260px;
  }

  .medium-hosting {
    display: none;
  }

  .footer-left {
    width: 90%;
  }
  /* .men-pic {
    height: 1000px;
  }
  .men-pic-2 {
    height: 661.5px;
  } */
}

@media screen and (min-width:770px) {
  .fillout {
  width:696px
  }
  .fillout > div {
    width:696px;
  }
  .flex-sel {
    width:61%
  }
  .flex-sel2 {
    width: 36%;
  }
  .top-message {
    font-size: 40px;
  }
  .top-wrapper {
    height: 300px;
  }
  .row > h1 {
    margin: 0 auto;
    text-align: center;
  }
  h1 {
    font-size: 40px;
    text-align: center;
  }
  .borders {
    padding-bottom: 30px;
  }
  /* .hoster {
    font-size: 35px;
  }
  .hoster-p {
    font-size: 20px;
  } */


}

@media screen and (max-width:575px) {
.borders {
  text-align: left;
}
.bottom-wrapper {

}

}

@media screen and (min-width:576px) {
.borders {
  margin: 0 auto;
}



}
